<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConversationWcfService" />
        <binding name="BasicHttpBinding_IWcfConversationService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWcfConversationService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50805/Services/ConversationWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConversationWcfService"
        contract="ConversationWcfServiceReference.IConversationWcfService"
        name="BasicHttpBinding_IConversationWcfService" />
      <endpoint address="net.tcp://localhost:10090/WcfTcp" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IWcfConversationService"
        contract="WcfConversationServiceTcp.IWcfConversationService"
        name="NetTcpBinding_IWcfConversationService">
        <identity>
          <userPrincipalName value="Amirzhan_Alimov@moscow.epam.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:10080/WcfHttp" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWcfConversationService"
        contract="WcfConversationServiceTcp.IWcfConversationService"
        name="BasicHttpBinding_IWcfConversationService" />
    </client>
  </system.serviceModel>
</configuration>