<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TerrariumGame.WcfServices.Services.WcfConversationService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WcfConversationService" binding="basicHttpBinding" contract="TerrariumGame.WcfInterfaces.Services.IWcfConversationService">
        </endpoint>
        <endpoint address="WcfConversationService" binding="netTcpBinding" contract="TerrariumGame.WcfInterfaces.Services.IWcfConversationService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:17888/" />
            <add baseAddress="net.tcp://localhost:14070" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
