body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    margin: 30px 30px 30px 30px;
}

.centerlized {    
    padding-right: 150px; 
    padding-left: 150px;
}