<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfConversationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49370/WcfConversationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfConversationService"
                contract="WcfServiceApp.IWcfConversationService" name="BasicHttpBinding_IWcfConversationService" />
        </client>
    </system.serviceModel>
</configuration>