<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TerrariumDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TerrariumDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConversationWcfService" />
        <binding name="BasicHttpBinding_IWcfConversationService" />
      </basicHttpBinding>    
      <netTcpBinding>
        <binding name="NetTcpBinding_IWcfConversationService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50805/Services/ConversationWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConversationWcfService" contract="ConversationWcfServiceReference.IConversationWcfService" name="BasicHttpBinding_IConversationWcfService" />
      <endpoint address="net.tcp://localhost:10090/WcfTcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfConversationService" contract="WcfConversationServiceTcp.IWcfConversationService" name="NetTcpBinding_IWcfConversationService">
        <identity>
          <userPrincipalName value="Amirzhan_Alimov@moscow.epam.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>